<footer class="footer">
    <div class="container">
        {% if site.footer_menu %}
            <div class="columns is-multiline">
                {% for item in site.data[site.footer_menu] %}
                    <div class="column has-text-centered">
                        <div>
                            <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% include follow.html %}

        <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>
    </div>
</footer>


<script type="text/javascript">
$(function(){
	$('a[rel=external]').leaveNotice();
});
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RJSMY46M5C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-RJSMY46M5C');
</script>
<!-- Old DAP UA tag -->
<script async type="text/javascript" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=NIST&subagency=github&pua=UA-66610693-1&yt=true&exts=ppsx,pps,f90,sch,rtf,wrl,txz,m1v,xlsm,msi,xsd,f,tif,eps,mpg,xml,pl,xlt,c">
</script>